.campaign {
  > .inner {
    &::before {
      background-image: url("/image/feature/docomo-cooperation/loop-text_campaign.svg");
      background-size: 1230px 159px;
      height: 159px;
      animation: campaign_pc 13s linear infinite;
    }
    @media screen and (max-width: 767px) {
      &::before {
        background-size: 464px 60px;
        animation: campaign_sp 10s linear infinite;
      }
    }
    @media (prefers-reduced-motion: reduce) {
      &::before {
        animation: none;
      }
    }
    & .contents {
      > .note-list {
        margin-top: clamp(40px, 5.15vw, 70px);
        text-align: center;
        @media screen and (max-width: 767px) {
          text-align: left;
        }
      }
    }
  }
  & .title-with-speech-bubble {
    margin-bottom: clamp(-95px, -6.99vw, -60px);
    @media screen and (max-width: 767px) {
      margin-bottom: -50px;
    }
    > .title {
      min-height: clamp(120px, 13.97vw, 190px);
      @media screen and (max-width: 767px) {
        padding-block: 20px;
        font-size: min(6.4vw, 2.4rem);
        min-height: 100px;
      }
    }
    > .speech-bubble {
      background-image: url("/image/feature/docomo-cooperation/speech-bubble_campaign.svg");
      @media screen and (max-width: 767px) {
        background-image: url("/image/feature/docomo-cooperation/speech-bubble_campaign_sp.svg");
        padding-bottom: 40px;
      }
    }
  }
}

.campaign-section {
  max-width: 1200px;
  margin-inline: auto;
  & + .campaign-section {
    margin-top: clamp(60px, 5.88vw, 80px);
  }
}

.campaign .two-columns {
  grid-template-columns: min(35.81vw, 530px) min(39.32vw, 582px);
  column-gap: min(3.38vw, 50px);
  max-width: 1200px;
  justify-content: flex-start;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  > .details {
    @media screen and (max-width: 767px) {
      margin-top: 17px;
    }
    > .period-area {
      margin-top: 2rem;
    }
    @media screen and (max-width: 767px) {
      > .button-primary {
        margin-top: 20px;
      }
    }
  }

  > .campaign-images {
    grid-area: image;
    margin-inline: auto;
    width: 100%;
    max-width: 582px;
    border-radius: 40px;
    border: 3px solid var(--black);
    background-color: var(--white);
    padding: clamp(15px, 2.21vw, 30px);
    aspect-ratio: 582 / 363;
    position: relative;
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      border-width: 2px;
      border-radius: 20px;
      aspect-ratio: 305 / 185;
      padding: min(4vw, 30px);
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      width: min(41.22vw, 610px);
      height: min(27.7vw, 410px);
      background-image: url("/image/feature/docomo-cooperation/campaign-banner_coin.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media screen and (max-width: 767px) {
      &::before {
        width: 103%;
        height: 114%;
        left: 9px;
      }
    }
    > a {
      position: relative;
      z-index: 1;
      opacity: 1;
      transition: opacity 0.2s ease-out;
      @media (hover: hover) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
    > img {
      border: 1px solid var(--border);
      aspect-ratio: 524 / 295;
    }
  }
}

/* 偶数 */
.campaign-section:nth-of-type(even) .two-columns .campaign-images::before {
  width: min(40.74vw, 603px);
  height: min(27.77vw, 411px);
  left: auto;
  right: 0;
  background-image: url("/image/feature/docomo-cooperation/campaign-banner_coin_inversion.svg");
}
@media screen and (max-width: 767px) {
  .campaign-section:nth-of-type(even) .two-columns .campaign-images::before {
    width: 103%;
    height: 114%;
    right: 9px;
  }
}
