.band-area {
  position: relative;
  background-color: var(--yellow);
  margin-inline: -20px;
  padding: 50px 20px 56px;
  margin-top: 60px;
  text-align: center;
  @media screen and (max-width: 768px) {
    padding-top: 30px;
  }
  > .circle {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    width: 127px;
    height: 127px;
    top: -45px;
    left: 50%;
    padding-top: 38px;
    transform: translateX(-50%);
    background-color: var(--yellow);
    font-size: 2.1rem;
    font-weight: var(--font-weight-strong);
    line-height: 1.5;
    @media screen and (max-width: 768px) {
      font-size: 1.6rem;
      width: 90px;
      height: 90px;
      top: -35px;
      padding-top: 22px;
    }
  }
  > .text {
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: 1;
    font-size: min(1.62vw, 2.4rem);
    font-weight: var(--font-weight-bold);
    max-width: 972px;
    margin-inline: auto;
    line-height: 1.5;
    @media screen and (max-width: 1180px) {
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      font-size: min(4.27vw, 1.6rem);
      font-weight: var(--font-weight-normal);
    }
    > span {
      display: block;
      margin-bottom: clamp(-90px, -6.76vw, -100px);
      @media screen and (max-width: 1180px) {
        margin-bottom: 0;
      }
    }
    > strong {
      display: block;
      position: relative;
      font-size: min(2.03vw, 3rem);
      font-weight: var(--font-weight-strong);
      @media screen and (max-width: 768px) {
        font-size: min(5.33vw, 2rem);
        font-weight: var(--font-weight-bold);
      }
      &::after {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        bottom: -10px;
        width: 100%;
        height: 23px;
        opacity: 0.5;
        background-color: var(--white);
      }
      @media screen and (max-width: 1180px) {
        &::after {
          left: 50%;
          width: clamp(300px, 22.43vw, 332px);
          transform: translate(-50%, 0);
        }
      }
      @media screen and (max-width: 767px) {
        &::after {
          width: min(69.33vw, 260px);
        }
      }
      > span:first-child {
        margin-top: 30px;
        @media screen and (max-width: 1180px) {
          margin-top: 10px;
        }
      }
      > .image {
        display: inline-block;
        margin-left: min(1.82vw, 27px);
        vertical-align: text-bottom;
        max-width: clamp(300px, 22.43vw, 332px);
        font-size: 1.6rem;
        text-align: center;
        font-weight: var(--font-weight-thin);
        position: relative;
        @media screen and (max-width: 1180px) {
          display: block;
          margin-inline: auto;
        }
        @media screen and (max-width: 767px) {
          max-width: 240px;
          font-size: 1.2rem;
        }
        > sub {
          position: absolute;
          right: -2em;
          bottom: 1em;
        }
        > span {
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          bottom: -37px;
          @media screen and (max-width: 767px) {
            bottom: -33px;
          }
        }
        > .credit-limit {
          position: absolute;
          top: 0;
          right: -18%;
          z-index: -1;
          width: clamp(65px, 5vw, 74px);
          @media screen and (max-width: 767px) {
            width: min(13.07vw, 49px);
            right: -6%;
            top: -20%;
          }
        }
      }
    }
  }
}
