.fixed-conversion-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9999;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .button {
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    transform: translateX(17px);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    background-color: var(--account);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 16px 22px 16px 7px;
    border: 3px solid var(--black);
    border-right-width: 0;
    border-bottom-width: 7px;
    text-orientation: upright;
    transition: transform 0.4s ease;
    color: var(--black);

    &.-nisa {
      background-color: var(--nisa);
    }
    @media (hover: hover) {
      &:hover {
        transform: translateX(0);
      }
    }
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url(/image/feature/docomo-cooperation/arrow_button-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 6px;
    }
  }
}
