.conversion-button {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: clamp(265px, 30.15vw, 410px) clamp(
      265px,
      30.15vw,
      410px
    );
  grid-template-rows: auto auto;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
  @media screen and (max-width: 767px) {
    display: block;
  }
  > .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 13px;
    font-size: clamp(1.6rem, 1.47vw, 2rem);
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 1.3em;
      background-color: #000;
      border-radius: 3px;
    }
    &::before {
      transform: rotate(-40deg);
    }
    &::after {
      transform: rotate(40deg);
    }
    & + .button {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    > .button-primary + .title {
      margin-top: 2rem;
    }
  }
}
