.fixed-conversion-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 9999;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
  .button {
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    transform: translate(20px, 0);
    transition: 0.4s ease;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ff943e;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 16px 25px 16px 10px;
    border: 3px solid #000;
    border-right-width: 0;
    border-bottom-width: 7px;
    text-orientation: upright;
    transition: transform 0.4s ease;

    &.-nisa {
      background-color: #8ceb94;
    }
    @media (hover: hover) {
      &:hover {
        transform: translate(0, 0);
      }
    }
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url(/image/feature/test/arrow_button-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 6px;
    }
  }
}
