.l-gnavi {
  height: auto;
  .buttons {
    padding: 25px 30px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .link {
    font-size: 1.4rem;
    font-weight: var(--font-weight-bold);
  }
  .button {
    margin: 0;
    & + .button {
      margin-top: 20px;
    }
  }
  .close {
    margin-bottom: 0;
  }
}

.-migration {
  .link {
    padding-block: 69px;
  }
}
@media screen and (max-width: 767px) {
  .-migration {
    .l-gnavi {
      .link {
        text-align: left;
        color: var(--text);
      }
    }
  }
  :not(.-migration) {
    .l-gnavi {
      .link {
        padding-block: 21px;
      }
    }
  }
}
