.new-function {
  > .inner {
    > .poinco {
      position: relative;
      > .poinco-young {
        position: absolute;
        top: -196px;
        left: clamp(100px, calc(50% - 380px), 50%);
        transform: translateX(-50%);
        width: 229px;
        transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        &.is-active {
          transform: translate(-50%, 100%);
          opacity: 0;
        }
        @media screen and (max-width: 767px), screen and (max-height: 629px) {
          display: none;
        }
      }
      > .poinco-old {
        position: absolute;
        top: -164px;
        right: clamp(100px, calc(50% - 380px), 50%);
        transform: translateX(50%);
        width: 223px;
        transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        &.is-active {
          transform: translate(50%, 100%);
          opacity: 0;
        }
        @media screen and (max-width: 767px), screen and (max-height: 629px) {
          display: none;
        }
      }
    }
    & .contents {
      position: relative;
      height: 75vh;
      @media screen and (max-width: 767px) {
        padding: 90px 20px 40px;
      }
    }
  }
}

.poinco-old.is-active + .vertical-slider li > .poinco-area-mini::before,
.poinco-old.is-active + .vertical-slider li > .poinco-area-mini::after {
  animation: poinco-mini 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
@media screen and (max-width: 767px), screen and (max-height: 629px) {
  .poinco-old + .vertical-slider li > .poinco-area-mini::before,
  .poinco-old + .vertical-slider li > .poinco-area-mini::after {
    animation: none;
    transform: translateY(0%);
    opacity: 1;
  }
  .poinco-area-mini.is-active::before,
  .poinco-area-mini.is-active::after {
    animation: poinco-mini 0.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
}

@keyframes new-function_pc {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1680px 0;
  }
}

@keyframes new-function_sp {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -681px 0;
  }
}

@keyframes poinco-mini {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes opacity-01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity01 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity02 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity03 {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes coin {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
