.note-list {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 1.2rem;
  color: #333;
  font-weight: 400;
}
.note-list.-multiple {
  text-indent: 0;
  padding-left: 0;
  display: flex;
  gap: 0.2em;
  > span {
    flex-shrink: 0;
  }
}
