.period-area {
  display: inline-block;
  position: relative;
  background-color: #fff;
  color: var(--red);
  padding-inline: min(1.25vw, 17px) min(2.21vw, 30px);
  height: 46px;
  line-height: 46px;
  font-size: clamp(1.2rem, 1.18vw, 1.6rem);
  font-weight: 700;
  @media screen and (max-width: 767px) {
    height: 34px;
    line-height: 34px;
    padding-inline: 11px;
  }
  > span {
    line-height: 0;
    font-size: clamp(1.3rem, 1.47vw, 2rem);
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    z-index: 1;
    top: 0;
    right: 0;
    border-width: 23px 13px 23px 0px;
    border-color: transparent #ecf1f7 transparent transparent;
    border-style: solid;
  }
  @media screen and (max-width: 767px) {
    &:after {
      border-width: 17px 8px 17px 0px;
    }
  }
  @media screen and (max-width: 767px) {
    &:before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      z-index: 1;
      top: 0;
      left: 0;
      border-width: 17px 0 17px 8px;
      border-color: transparent transparent transparent #ecf1f7;
      border-style: solid;
    }
  }
}
