.section-area {
  text-align: center;
  padding-block: 145px;
  border-top: 3px solid #000;
  @media screen and (max-width: 767px) {
    padding-block: 60px 60px;
    border-width: 2px;
  }
  /* 奇数 */
  &:nth-of-type(odd) {
    background-color: var(--red);
    & .title-with-speech-bubble > .speech-bubble {
      color: #fff;
    }
  }
  /* 偶数 */
  &:nth-of-type(even) {
    background-color: #ffc700;
    & .title-with-speech-bubble > .speech-bubble {
      color: #000;
    }
  }
  > .inner {
    position: relative;
    z-index: 1;
    padding-inline: min(4.41vw, 60px);
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      background-repeat: repeat-x;
      background-position: top;
      top: -60px;
    }
    @media screen and (max-width: 767px) {
      padding-inline: 15px;
      &::before {
        height: 60px;
        top: -20px;
      }
    }
    > .contents {
      text-align: left;
      max-width: 1800px;
      margin-inline: auto;
      background-color: #ecf1f7;
      border-radius: 40px;
      padding: clamp(90px, 13.97vw, 190px) min(1.47vw, 20px)
        clamp(40px, 8.82vw, 120px);
      @media screen and (max-width: 767px) {
        padding: 90px 20px 40px;
        border-radius: 20px;
      }
    }
  }
}
