.step {
  > .inner {
    &::before {
      background-image: url("/image/feature/test/loop-text_step.svg");
      background-size: 3413.5px 151px;
      height: 151px;
      animation: step_pc 30s linear infinite;
    }
    @media screen and (max-width: 767px) {
      &::before {
        background-size: 1370px 60px;
        animation: step_sp 25s linear infinite;
      }
    }
    @media (prefers-reduced-motion: reduce) {
      &::before {
        animation: none;
      }
    }
    & .contents {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  & .title-with-speech-bubble {
    > .speech-bubble {
      background-image: url("/image/feature/test/speech-bubble_step.svg");
      padding-inline: clamp(25px, 2.79vw, 36px);
    }
    @media screen and (max-width: 767px) {
      > .title {
        font-size: 2.6rem;
      }
    }
  }
}

@keyframes step_pc {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -3413.5px 0;
  }
}

@keyframes step_sp {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1370px 0;
  }
}
