.step-area {
  display: grid;
  justify-content: center;
  grid-template-columns:
    min(21.22vw, 320px) min(7.43vw, 120px) min(21.22vw, 320px)
    min(7.43vw, 120px) min(21.22vw, 320px);
  max-width: 1200px;
  margin-inline: auto;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  > li {
    display: contents;
    &:not(:last-of-type):after {
      align-self: center;
      content: "";
      display: block;
      width: min(7.43vw, 120px);
      height: 21px;
      background-image: url("/image/feature/test/arrow_line-right.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 767px) {
      &:not(:last-of-type):after {
        display: none;
      }
    }
    > div {
      border: 3px solid #000;
      border-radius: 20px;
      background-color: #fff;
      position: relative;
      text-align: center;
      padding: min(3.51vw, 52px) min(1.35vw, 20px) min(2.7vw, 40px);
      @media screen and (max-width: 767px) {
        border-width: 2px;
        padding: min(10.67vw, 40px) min(5.33vw, 20px) min(8vw, 30px);
      }
      > .number {
        position: absolute;
        top: clamp(-23px, 2.57vw, -35px);
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        place-items: center;
        background-color: #ffc700;
        border-radius: 50%;
        font-size: clamp(2rem, 2.21vw, 3rem);
        width: clamp(46px, 5.15vw, 70px);
        height: clamp(46px, 5.15vw, 70px);
        font-weight: 900;
      }
      > .title {
        font-size: min(1.91vw, 2.6rem);
        font-weight: bold;
        line-height: 1.385;
        @media screen and (max-width: 767px) {
          font-weight: 900;
          font-size: min(6.4vw, 2.4rem);
        }
      }
      > img {
        margin-top: clamp(10px, 1.47vw, 20px);
      }
      > p {
        font-size: clamp(1.3rem, 1.08vw, 1.6rem);
        margin-top: clamp(10px, 1.1vw, 15px);
        @media screen and (max-width: 767px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}
