.title-with-speech-bubble {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  > .speech-bubble {
    display: inline-block;
    align-self: center;
    font-size: clamp(2.2rem, 2.5vw, 3.4rem);
    background-repeat: no-repeat;
    padding-bottom: 35px;
    padding-inline: 26px;
    background-position: bottom;
    font-weight: bold;
    @media screen and (max-width: 767px) {
      font-size: 2.2rem;
      padding-bottom: 30px;
      line-height: 1.364;
    }
    > span {
      font-size: clamp(2.2rem, 3.24vw, 4.4rem);
      @media screen and (max-width: 767px) {
        font-size: 2.2rem;
      }
    }
  }
  > .title {
    display: inline-grid;
    place-content: center;
    /* margin-bottom: -1em; */
    position: relative;
    font-size: clamp(3rem, 3.97vw, 5.4rem);
    background-color: #fff;
    padding: 11px 87px;
    min-height: 120px;
    /* margin-top: 20px; */
    font-weight: 900;
    line-height: 1.222;
    @media screen and (max-width: 767px) {
      font-size: 3rem;
      /* margin-top: 0px;
      margin-bottom: 0; */
      padding: 10px 28px;
      line-height: 1.267;
      min-height: 65px;
    }
    &::before,
    &::after {
      position: absolute;
      left: -1px;
      content: "";
      display: block;
      width: calc(100% + 2px);
      height: 3px;
      border-radius: 3px;
      background-color: #000;
    }
    @media screen and (max-width: 767px) {
      &::before,
      &::after {
        height: 2px;
      }
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}

.campaign .title-with-speech-bubble {
  > .title {
    margin-bottom: -1.5em;
    @media screen and (max-width: 767px) {
      padding-block: 20px;
      font-size: 2.4rem;
    }
  }
}
