.two-columns {
  display: grid;
  grid-template-areas:
    "title image"
    "details image";
  justify-content: center;
  grid-template-columns: minmax(300px, 1fr) minmax(auto, 430px);
  grid-template-rows: auto 1fr;
  column-gap: 50px;
  max-width: 960px;
  margin-inline: auto;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "details";
  }
  > .heading-normal {
    grid-area: title;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  > img {
    grid-area: image;
    margin-inline: auto;
    min-width: 215px;
    width: 100%;
    max-width: 450px;
    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }
  }
  > .details {
    grid-area: details;
    margin-top: 15px;
    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
    > .note-list {
      margin-top: 20px;
      @media screen and (max-width: 767px) {
        margin-top: 15px;
      }
    }
    > .button-primary {
      margin-left: 0;
      margin-top: 30px;
      @media screen and (max-width: 767px) {
        margin-top: 15px;
        margin-left: auto;
      }
    }
  }
}

.campaign .two-columns {
  grid-template-columns: min(38.97vw, 530px) min(44.49vw, 605px);
  max-width: 1200px;
  column-gap: clamp(15px, 3.68vw, 50px);
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  > .details {
    @media screen and (max-width: 767px) {
      margin-top: 17px;
    }
    > .period-area {
      margin-top: 2rem;
    }
    @media screen and (max-width: 767px) {
      > .button-primary {
        margin-top: 20px;
      }
    }
  }

  > .campaign-images {
    grid-area: image;
    margin-inline: auto;
    width: 100%;
    border-radius: 40px;
    border: 3px solid #000;
    background-color: #fff;
    padding: clamp(15px, 2.21vw, 30px);
    aspect-ratio: 524 / 295;
    position: relative;
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      border-width: 2px;
      border-radius: 20px;
      aspect-ratio: 305 / 185;
      padding: 15px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      width: min(45.92vw, 624.47px);
      height: min(30.77vw, 418.44px);
      background-image: url("/image/feature/test/campaign-banner_coin.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media screen and (max-width: 767px) {
      &::before {
        width: 103%;
        height: 114%;
        left: 9px;
      }
    }
    > img {
      border: 1px solid #707070;
      aspect-ratio: 524 / 295;
    }
  }
}
