@keyframes loop {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1680px 0;
  }
}

#js-vertical-slider {
  position: relative;
  height: 600vh;
  @media screen and (max-height: 739px), screen and (max-width: 919px) {
    height: auto;
  }
  > .inner {
    position: sticky;
    top: 0;
    @media screen and (max-height: 739px), screen and (max-width: 919px) {
      position: relative;
    }
  }
}
.vertical-slider {
  position: relative;
  z-index: -1;
  height: 75vh;
  overflow: hidden;
  @media screen and (max-height: 739px), screen and (max-width: 919px) {
    position: static;
    overflow: visible;
    height: auto;
  }
  > li {
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-inline: 20px;
    @media screen and (max-height: 739px), screen and (max-width: 919px) {
      display: block;
      position: static;
      transform: none;
      padding-top: 10px;
      padding-inline: 0;
      + li {
        padding-top: 80px;
      }
    }
    &:not(:first-child) > .details {
      opacity: 0;
      transform: translateY(100%);
      @media screen and (max-height: 739px), screen and (max-width: 919px) {
        opacity: 1;
        transform: none;
      }
    }
    > .details {
      position: relative;
      max-width: 530px;
      width: 100%;
      transition: transform 0.8s ease, opacity 0.5s ease;
      z-index: 1;
      @media screen and (max-height: 739px), screen and (max-width: 919px) {
        text-align: center;
        max-width: unset;
      }
      &.is-show {
        transform: translateY(0);
        opacity: 1;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          transform: none;
        }
      }
      &.is-up {
        transform: translateY(-100%);
        opacity: 0;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          transform: none;
          opacity: 1;
        }
      }
      &.is-down {
        transform: translateY(100%);
        opacity: 0;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          transform: none;
          opacity: 1;
        }
      }
      > img {
        position: absolute;
        right: 40px;
        top: 0px;
        z-index: -1;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          left: 50%;
          top: -20px;
          transform: translateX(-50%);
        }
      }
      > .title {
        margin-top: 20px;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          font-size: 2.6rem;
          margin-top: 15px;
        }
        + .text {
          margin-top: 15px;
          font-size: 1.6rem;
        }
      }
      > .shadow-box {
        display: none;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          display: block;
          margin-top: 15px;
        }
      }
      > .text {
        margin-top: 15px;
        font-weight: 500;
        @media screen and (max-height: 739px), screen and (max-width: 919px) {
          margin-top: 20px;
          text-align: left;
        }
        + p,
        + ul {
          margin-top: 20px;
          @media screen and (max-height: 739px), screen and (max-width: 919px) {
            margin-top: 10px;
            text-align: left;
          }
        }
      }
      & .inner {
        background-color: gray;
      }
    }
    > .shadow-box {
      @media screen and (max-height: 739px), screen and (max-width: 919px) {
        display: none;
      }
    }
  }
}
.shadow-box {
  max-width: 517px;
  aspect-ratio: 517 / 388;
  margin-right: 36px;
  width: 100%;
  background-color: #fff;
  border-radius: 40px;
  border: 3px solid #000;
  max-height: 388px;
  box-shadow: 36px 36px 0px 0px #cc0033;
  @media screen and (max-height: 739px), screen and (max-width: 919px) {
    width: 284px;
    height: 213px;
    margin-inline: auto;
    border-radius: 20px;
    border-width: 2px;
    box-shadow: 10px 10px 0px 0px #cc0033;
  }
}
