@keyframes loop {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1680px 0;
  }
}

#js-vertical-slider {
  position: relative;
  > .inner {
    position: sticky;
    padding-top: 90px;
    top: 0;
  }
}
.vertical-slider {
  margin-top: -67px;
  text-align: left;
  background-color: #ecf1f7;
  border-radius: 40px;
  max-width: 1800px;
  margin-inline: auto;
  position: relative;
  z-index: -1;
  height: calc(424px + (50vh - 330px));
  > li {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1240px;
    padding: calc(50vh - 330px) 20px;
    margin-inline: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    &.is-show {
      opacity: 1;
      visibility: visible;
    }
    > .details {
      position: relative;
      width: 530px;
      > img {
        position: absolute;
        right: 40px;
        top: 0px;
        z-index: -1;
      }
      > .title {
        margin-top: 20px;
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.35;
        + p {
          margin-top: 15px;
          font-size: 1.6rem;
        }
      }
      > p {
        + p,
        + ul {
          margin-top: 20px;
        }
      }
      & .inner {
        background-color: gray;
      }
    }
  }
}
