main > section:not(.mv, .related-links) {
  background-color: var(--content-light-blue);
}
main > section > .inner {
  margin-inline: auto;
  max-width: var(--content-max-width);
}

.animation-spacing {
  margin-top: 400px;
}
