.features {
  @media screen and (max-width: 767px) {
  }
  .inner {
    @media screen and (max-width: 1440px) {
    }
  }
  .feature {
  }
  .feature-header {
    display: flex;
    justify-content: center;
    padding-right: 10px;
  }
  .feature-header img {
    margin-left: -60px;
  }
  .feature-header .bg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 500px;
  }
  .feature-header .title {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.25;
  }
  .feature-header .title > span {
    display: inline-flex;
    flex-direction: column;
  }
  .feature-header .title > span .number {
    margin-top: 10px;
    font-family: Filson Soft, var(--font-family);
    font-size: 7.2rem;
    line-height: 1;
  }
  .feature-header .title > strong {
    margin-top: 10px;
    border-block: 4px solid var(--white);
    padding-block: 6px;
    font-size: 3.6rem;
  }
  .feature-header .description {
    margin-top: 24px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .feature-body {
    padding: 120px 96px;
  }
  .feature-body figure {
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px;
  }
  .feature-body article {
    background-color: var(--white);
    padding: 28px 30px;
  }
  a {
    display: flex;
    margin-inline: auto;
    width: fit-content;
    min-width: 520px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    border: 3px solid var(--black);
    border-radius: 100px;
    padding: 18px;
  }
}
