.faq {
  padding-block: var(--section-spacing);

  .faq-list {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--content-small-width);
    gap: 32px;
  }
    .faq-list summary .question {
      font-family: Filson Soft, var(--font-family);
      background-color: var(--text-bg-yellow);
      border: 3px solid var(--black);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
    }
  .faq-list .answer {
    padding-inline: 38px;
    padding-bottom: 54px;
  }
    .faq-list .answer p {
      line-height: 2;
      padding-left: 52px;
    }
    .faq-list .answer img {
      display: block;
      margin-top: 32px;
      margin-inline: auto;
    }
}
