.faq {
  background-color: var(--content-purple);
  @media screen and (max-width: 767px) {
    /* height: 550px; */
  }
  .inner {
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 992px;
    gap: 32px;
  }
  .faq-list details {
    background-color: var(--white);
    border-radius: 32px;
    padding: 12px;
  }
}
