.related-links {
  background-color: var(--content-yellow);
  @media screen and (max-width: 767px) {
  }
  .inner {
    position: relative;
    aspect-ratio: 1440 / 746;
    width: 100%;
    background-image: url(/image/feature/nisa-fulluse/img_kobanneko_related-links.svg);
    background-size: contain;
    @media screen and (max-width: 1440px) {
      width: 100vw;
    }
  }
  .title {
    position: relative;
    z-index: 1;
    padding-top: 98px;
    padding-right: 196px;
    margin-left: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 4.7rem;
    font-weight: var(--font-weight-bold);
    @media screen and (max-width: 767px) {
    }
  }
  .img {
    position: absolute;
    inset: 0;
    display: block;
    margin-inline: auto;
    @media screen and (max-width: 1440px) {
      width: 100vw;
    }
  }
  .related-link {
    position: absolute;
    margin: auto;
    right: 120px;
    bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 100px;
    color: var(--black);
    border: 3px solid var(--black);
    width: 320px;
    height: 64px;
    font-size: 2rem;
    line-height: 1.6;
  }
}
