.related-links {
  background-color: var(--content-yellow);
  @media screen and (max-width: 767px) {
  }
  .inner {
    position: relative;
    aspect-ratio: 1440 / 746;
    width: 100%;
    background-image: url(/image/feature/nisa-fulluse/img_kobanneko_related-links.svg);
    background-size: contain;
  }
  .title {
    position: relative;
    z-index: 1;
    padding-top: 98px;
    padding-right: 196px;
    margin-left: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 4.7rem;
    font-weight: var(--font-weight-bold);
  }
  .img {
    position: absolute;
    inset: 0;
    display: block;
    margin-inline: auto;
    @media screen and (max-width: 1440px) {
      width: 100vw;
    }
  }
  .arrow-rounded-button-link {
    position: absolute;
    right: 120px;
    bottom: 120px;
    padding-right: 60px;
  }
}
