.mv {
  /* height: clamp(350px, 41.28vw, 611px); */
  background-color: var(--content-yellow);
  @media screen and (max-width: 767px) {
    /* height: 550px; */
  }
  .inner {
    position: relative;
    width: 100%;
    height: 100dvh;
    @media screen and (max-width: 1440px) {
      width: 100vw;
    }
  }
  .title {
    position: relative;
    z-index: 1;
    padding-top: 98px;
    padding-right: 196px;
    margin-left: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 4.7rem;
    font-weight: var(--font-weight-bold);
    @media screen and (max-width: 767px) {

    }
  }
  .mv-character {
    position: absolute;
    inset: 0;
  }
  .mv-character .speech-bubble {
    position: absolute;
    z-index: 1;
    top: 152.3px;
    left: 167.2px;
    text-align: center;
    transform: rotate(-30deg);
    font-size: 3rem;
    line-height: var(--line-height-tight);
  }
  .mv-character .img {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    display: block;
    margin-inline: auto;
    aspect-ratio: 1440 / 746;
    @media screen and (max-width: 1440px) {
      width: 100vw;
    }
  }
  .scroll-label {
    position: absolute;
    inset-inline: 0;
    bottom: 16px;
    margin: auto;
    display: inline-block;
    width: fit-content;
    opacity: 0;
    animation: fadeSlideIn 3.3s ease-out infinite;
    animation-fill-mode: both;
  }
}
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
}
