@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("/src/assets/components/global-navigation.css");
@import url("/src/assets/components/section.css");
@import url("/src/assets/components/button.css");
@import url("/src/assets/components/conversion-button.css");
@import url("/src/assets/components/fixed-conversion-button.css");
@import url("/src/assets/components/mv.css");
@import url("/src/assets/components/title-with-speech-bubble.css");
@import url("/src/assets/components/heading.css");
@import url("/src/assets/components/label.css");
@import url("/src/assets/components/note-list.css");
@import url("/src/assets/components/border-box.css");
@import url("/src/assets/components/two-columns.css");
@import url("/src/assets/components/band-area.css");
@import url("/src/assets/components/period-area.css");
@import url("/src/assets/components/step-area.css");
@import url("/src/assets/components/conversion-area.css");
@import url("/src/assets/components/conversion-button-area.css");
@import url("/src/assets/components/new-function.css");
@import url("/src/assets/components/features-of-monex.css");
@import url("/src/assets/components/campaign.css");
@import url("/src/assets/components/step.css");
@import url("/src/assets/components/keyframe.css");
:root {
  --red: #cc0033;
  --black: #000;
  --text-link: #1155cc;
  --white: #fff;
  --yellow: #ffc700;
  --account: #ff943e;
  --nisa: #8ceb94;
  --border: #707070;
  --marker: #f4f8fd;
  --text: #333;
  --content: #ecf1f7;
  --font-family: "Noto Sans JP", "Roboto Condensed", "Roboto", "游ゴシック体",
    yugothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
    sans-serif;
  --font-weight-thin: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-strong: 900;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-weight: var(--font-weight-normal);
  color: var(--black);
}

a {
  color: var(--black);
}

main {
  font-family: var(--font-family);
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}

.lead-area {
  border-top: 3px solid var(--black);
  padding: 60px 60px 70px;
  text-align: center;
  position: relative;
  @media screen and (max-width: 767px) {
    border-width: 2px;
    padding: 50px 20px 50px;
  }
  &::before {
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 145px;
    height: 97px;
    background-image: url("/image/feature/test/img_lead.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }
  @media screen and (max-width: 767px) {
    &::before {
      width: 90px;
      height: 62px;
      top: -31.8px;
    }
  }
  @media screen and (max-width: 767px) {
    img {
      width: 77.87vw;
    }
  }
  .lead {
    margin-top: 25px;
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      text-align: left;
      font-size: 1.4rem;
    }
    & + .lead {
      margin-top: 0;
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }
}
