@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("/src/assets/components/global-navigation.css");
@import url("/src/assets/components/conversion-button.css");
@import url("/src/assets/components/fixed-conversion-button.css");
@import url("/src/assets/components/loop-text.css");
@import url("/src/assets/components/title-with-speech-bubble.css");
@import url("/src/assets/components/label.css");
@import url("/src/assets/components/vertical-slider.css");
@import url("/src/assets/components/note-list.css");
:root {
  --red: #cc0033;
}
main {
  font-family: "Noto Sans JP", sans-serif;
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}
.lead-area {
  border-top: 3px solid #000;
  padding: 60px 60px 70px;
  text-align: center;
  position: relative;
  @media screen and (max-width: 767px) {
    border-width: 2px;
    padding: 50px 20px 50px;
  }
  &::before {
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 145px;
    height: 97px;
    background-image: url("/image/feature/test/img_lead.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    @media screen and (max-width: 767px) {
      width: 145px;
      height: 97px;
      background-image: url("/image/feature/test/img_lead_sp.svg");
    }
  }
  @media screen and (max-width: 767px) {
    img {
      width: 77.87vw;
    }
  }
  .lead {
    margin-top: 25px;
    font-weight: bold;
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      margin-top: 20px;
      text-align: left;
      font-size: 1.4rem;
    }
    & + .lead {
      margin-top: 0;
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }
}

.section-area {
  text-align: center;
  padding-block: 100px;
  border-top: 3px solid #000;
  @media screen and (max-width: 767px) {
    padding-block: 0 60px;
    border-width: 2px;
  }
  /* 奇数 */
  &:nth-of-type(odd) {
    background-color: var(--red);
  }
  /* 偶数 */
  &:nth-of-type(even) {
    background-color: #ffc700;
  }
  > .inner {
    padding-inline: 60px;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 148px;
      background-repeat: repeat-x;
      background-position: top;
      background-size: 1680px 148px;
      animation: loop 20s linear infinite;
    }
    @media screen and (max-width: 767px) {
      padding-inline: 15px;
      &::before {
        background-size: 636px 56px;
        height: 56px;
        top: 45px;
      }
    }
  }
  &.new-function {
    > .inner {
      &::before {
        background-image: url("/image/feature/test/loop-text_new-function.svg");
      }
    }
  }
}
